@use "../cores";
.button {
  padding: 12px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  &--primary {
    color: cores.$textColor;
    background-color: cores.$purple;
  }
  @media (max-width: 640px) {
    display: block;
    width: 100%;
  }
  @media (max-width: 1024px) {
    display: flex;
    align-items: center;
  }
}
